<div class="context-menu" id="context-menu-id">
    <button class="context-button" id="rotate-clockwise-context">
        <div class="context-label">Rotate clockwise</div>
        <div class="context-shortcut">⌘ K</div>
    </button>
    <button class="context-button" id="rotate-anticlockwise-context">
        <div class="context-label">Rotate counterwise</div>
        <div class="context-shortcut">⌘ L</div>
    </button>
    <div class="context-separator"></div>
    <button class="context-button" id="copy-context">
        <div class="context-label">Copy</div>
        <div class="context-shortcut">⌘ C</div>
    </button>
    <button class="context-button" id="paste-context">
        <div class="context-label">Paste</div>
        <div class="context-shortcut">⌘ V</div>
    </button>
    <div class="context-separator"></div>
    <button class="context-button" id="bring-to-front-context">
        <div class="context-label">Bring to front</div>
        <div class="context-shortcut">]</div>
    </button>
    <button class="context-button" id="send-to-back-context">
        <div class="context-label">Send to back</div>
        <div class="context-shortcut">[</div>
    </button>
    <div class="context-separator"></div>
    <button class="context-button" id="lock-unlock-context">
        <div class="context-label">Lock/Unlock</div>
        <div class="context-shortcut">⌘ M</div>
    </button>
    <div class="context-separator"></div>
    <button class="context-button" id="flip-horizontal-context">
        <div class="context-label">Flip horizontal</div>
        <div class="context-shortcut">⌘ H</div>
    </button>
    <button class="context-button" id="flip-vertical-context">
        <div class="context-label">Flip vertical</div>
        <div class="context-shortcut">⌘ J</div>
    </button>
    <div class="context-separator"></div>
    <button class="context-button" id="delete-context">
        <div class="context-label">Delete</div>
        <div class="context-shortcut">Del</div>
    </button>
    <button class="context-button" id="properties-context">
        <div class="context-label">Properties</div>
        <div class="context-shortcut">F1</div>
    </button>
</div>
