<div class="controls">
    <button class="controls-button" id="undo-button">
        <svg class="controls-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M5 14.5C8.5 8 17.5 8 20 15M9.018 15H4l.018-5"
                fill="none"
                fill-rule="evenodd"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
            ></path>
        </svg>
    </button>
    <button class="controls-button" id="redo-button">
        <svg class="controls-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M19 14.5C15.5 8 6.5 8 4 15m10.982 0H20l-.018-5"
                fill="none"
                fill-rule="evenodd"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
            ></path>
        </svg>
    </button>
    <button class="controls-button" style="border-left: 1px solid var(--controls-border-color)" id="zoom-out-button">
        <svg class="controls-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M18 13H6a1 1 0 010-2h12a1 1 0 010 2z"></path>
        </svg>
    </button>
    <div class="zoom-level-control" id="zoom-level-text">100%</div>
    <button class="controls-button" id="zoom-in-button">
        <svg class="controls-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M18 13h-5v5a1 1 0 01-2 0v-5H6a1 1 0 010-2h5V6a1 1 0 012 0v5h5a1 1 0 010 2z"></path>
        </svg>
    </button>
</div>
