<div class="header">
    <div class="header-info">
        <div class="logo" id="logo-name">whiteboard</div>
        <div class="board" id="board-name">My First Board</div>
    </div>
    <div class="header-buttons">
        <button class="header-button" id="search-button">
            <svg class="header-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="2" cx="10" cy="10" r="7"></circle>
                <path fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M15 15l5 5"></path>
            </svg>
        </button>
        <button class="header-button" id="export-button">
            <svg class="header-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20 16v4H4v-4m8-1V6M8 8l4-4 4 4"
                    fill="none"
                    fill-rule="evenodd"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-width="2"
                ></path>
            </svg>
        </button>
        <button class="header-button" id="settings-button">
            <svg class="header-icon" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.544 2a1 1 0 00-.948.684l-.88 2.64-.79.455L5.2 5.221a1 1 0 00-1.066.48l-1.5 2.598a1 1 0 00.118 1.164l1.846 2.082v.91l-1.846 2.082a1 1 0 00-.118 1.164l1.5 2.598a1 1 0 001.067.48l2.726-.558.789.455.88 2.64a1 1 0 00.948.684h3a1 1 0 00.949-.684l.88-2.64.789-.455 2.726.558a1 1 0 001.066-.48l1.5-2.598a1 1 0 00-.117-1.164l-1.847-2.082v-.91l1.847-2.083a1 1 0 00.117-1.163l-1.5-2.598a1 1 0 00-1.066-.48l-2.726.558-.79-.455-.88-2.64A1 1 0 0013.545 2h-3zm-.051 4.316L11.265 4h1.558l.773 2.316a1 1 0 00.448.55l1.447.835a1 1 0 00.7.114l2.392-.49.78 1.35-1.62 1.827a1 1 0 00-.253.663v1.67a1 1 0 00.252.663l1.62 1.827-.78 1.35-2.391-.49a1 1 0 00-.7.114l-1.447.835a1 1 0 00-.448.55L12.823 20h-1.558l-.772-2.316a1 1 0 00-.449-.55l-1.446-.835a1 1 0 00-.7-.114l-2.392.49-.78-1.35 1.62-1.827a1 1 0 00.252-.663v-1.67a1 1 0 00-.252-.663l-1.62-1.827.78-1.35 2.392.49a1 1 0 00.7-.114l1.446-.835a1 1 0 00.449-.55zM12 14a2 2 0 100-4 2 2 0 000 4z"
                ></path>
            </svg>
        </button>
    </div>
</div>
