<div class="sidebar-container" id="sidebar-container-id">
    <button class="sidebar-close" id="sidebar-close-button">
        <svg class="sidebar-close-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
                fill="currentColor"
                d="M10.586 12l-6.293 6.293a1 1 0 001.414 1.414L12 13.414l6.293 6.293a1 1 0 001.414-1.414L13.414 12l6.293-6.293a1 1 0 10-1.414-1.414L12 10.586 5.707 4.293a1 1 0 00-1.414 1.414L10.586 12z"
            ></path>
        </svg>
    </button>
    <div class="primary-sidebar" id="primary-sidebar-id">
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
        <div class="primary">primary</div>
    </div>
    <div class="shapes-sidebar" id="shapes-sidebar-id">
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
        <div class="shapes">shapes</div>
    </div>
    <div class="properties-sidebar" id="properties-sidebar-id">
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
        <div class="properties">properties</div>
    </div>
    <div class="settings-sidebar" id="settings-sidebar-id">
        <div class="settings-title">Preferences</div>
        <div class="settings-separator"></div>
        <div class="settings-heading">General</div>
        <div class="settings-row">
            <div class="settings-label"><u>G</u>rid snap</div>
            <input type="text" class="settings-input" id="grid-snap" />
            <div class="settings-unit">px</div>
        </div>
        <div class="settings-row">
            <div class="settings-label"><u>R</u>otate snap</div>
            <input type="text" class="settings-input" id="rotate-snap" />
            <div class="settings-unit">px</div>
        </div>
        <div class="settings-row">
            <div class="settings-label"><u>P</u>aste offset</div>
            <input type="text" class="settings-input" id="paste-offset" />
            <div class="settings-unit">px</div>
        </div>
        <div class="settings-heading">Pencil</div>
        <div class="settings-row">
            <div class="settings-label"><u>S</u>mall thickness</div>
            <input type="text" class="settings-input" id="small-thickness-input" />
            <div class="settings-unit">px</div>
        </div>
        <div class="settings-row">
            <div class="settings-label"><u>M</u>edium thickness</div>
            <input type="text" class="settings-input" id="medium-thickness-input" />
            <div class="settings-unit">px</div>
        </div>
        <div class="settings-row">
            <div class="settings-label"><u>L</u>arge thickness</div>
            <input type="text" class="settings-input" id="large-thickness-input" />
            <div class="settings-unit">px</div>
        </div>
        <div class="settings-footer">
            <button class="settings-button-reverse" id="reset-settings">Restore defaults</button>
            <button class="settings-button" id="apply-settings">Apply</button>
        </div>
    </div>
</div>
